//====================================================================================================
.footer {
	overflow: hidden;
	font-family: 'Taviraj';
	background-color: $orangeColor;
	color: white;

	&__container {
		@include adaptiveValue("padding-top", 51, 30);
	   @include adaptiveValue("padding-bottom", 75, 30);
		display: grid;
		grid-template-columns: repeat(4, auto);
		gap: rem(50);
		position: relative;
		&::before,
		&::after{
			content:'';
			position: absolute;
			width: rem(413);
			height: rem(280);
			background: url('@img/footer/decor.svg') 0 0 / 100% no-repeat;
		}
		&::before{
			content:'';
			left: 0;
			top: 50%;
			transform: translate(calc((44% - 15px) * -1), 0px);
		}
		&::after{
			content:'';
			right: 0;
			top: 0;
			transform: translate(calc(44% - 15px), -13%);
		}
		@media (max-width: em(1110)){
			column-gap: rem(30);
			row-gap: rem(30);
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width:$tablet){
			grid-template-columns: auto;
		}
	}

	&__column {
		position: relative;
		z-index: 2;
		@media (max-width: em(1110)){
			  &:nth-child(1){
				grid-column: span 3;
			  }
		}
		@media (max-width:$tablet){
			&:nth-child(1){
				grid-column: span 1;
			  }
		}
	}

	&__logo {
		img {
			max-width: rem(178);
		}
		display: inline-block;
		&:not(:last-child) {
			margin-bottom: rem(27);
		}
	}

	&__blocks {
		display: grid;
		gap: rem(20);
		@media (max-width: em(1110)){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em(600)){
			grid-template-columns: auto;
		}
	}

	&__block {
		
	}

	&__label {
	}

	&__text {
		font-family: 'Taviraj';
      line-height: 1.68; /* 27px/16 */
      letter-spacing: 0.03em;
	}

	&__title {
		cursor: default;
		
		@media (max-width:$tablet){
			width: 100%;
			text-align: left;
		}
	}

	&__contacts {
		padding-top: rem(16);
	}

	&__social {
		padding-top: rem(16);
		grid-column: span 2;
	}

	&__menu {
		padding-top: rem(16);
	}
}

.contacts-footer {

	&__body {
		display: grid;
		column-gap: rem(10);
		row-gap: (8);
		justify-content: space-between;
		grid-template-columns: repeat(2, auto);//minmax(auto, rem(100)) auto;
	}

	&__label {
	}

	&__value {
		line-height: math.div(32, 16);
		letter-spacing: 0.03em;
		&:hover{
			text-decoration: underline;
		}
	}
}

.menu-footer {

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	&__link {
		letter-spacing: 0.03em;
		line-height: math.div(24, 16);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================
